<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/normalize.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <title>Mi primer documento en HTML</title>
    </head>

    <body>
        <h1>El título de nuestro documento</h1>
        <h4>Soy un h4</h4>
        <h2>Un subtitulo</h2>
        
        <img src="/img/yoda.jpg" alt="">
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo illum corrupti accusamus natus 
        eveniet repellat eos animi, recusandae dolore, ea at explicabo voluptates. 
        Ea aspernatur, doloribus ut perspiciatis ducimus facilis!
        </p>
        <ol>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ol>
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>
        
        <a href="https://www.google.com"> Ir a Google</a>
    </body>
</html>