<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css " rel="stylesheet"/>
        <link href="/css/normalize.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <title>Mercado Liebre</title>
    </head>
    <body>
       <header>
            <section class="header-main">
                <div class="logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
                </div>
                
                <form class="search" method="get" action="https://www.google.com/search" target="_blank">
                    <input type="text" id="inptSearch" placeholder="Buscar producto, marcas y mas">
                    <button type="submit" class="button-search" value = #inptSearch><i class="fa fa-search"></i></button>
                </form>

                <div class="buy-outs">
                    <p><i class="fa-solid fa-hand-holding-dollar">&nbsp;</i>Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
            </section>
            
            <nav class="header-menu">
                <ul class="main-menu">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>

                <ul class="login-menu">
                    <li><a href="/register">Creá tu cuenta</a>&nbsp;<i class="fa-solid fa-address-card"></i></li>
                    <li><a href="/login">Ingresá</a>&nbsp;<i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="#">Mis compras</a>&nbsp;<i class="fa-solid fa-basket-shopping "></i></li>
                </ul>
            </nav>

            <div class="burger-menu imgCenter">
                <button type="submit" class="bars"><i class="fas fa-bars"></i></button>
            </div>

            <div class="imgBanner">
                <img class="banner" src="/images/img-home-banner.jpg" alt="Baner"/>
            </div>
        </header>
        
        <main>
            <div class= "main-div-title"><h3 class="body-titles">Basado en tu última visita</h3></div>
            <section class="ultima-visita">
                <article>
                    <div class="img-procucto">
                        <img src='/images/img-cafetera-moulinex.jpg'/>
                    </div>
                    <div class="product-detail">
                        <div class="img-truck"><i class="fa-solid fa-truck"></i></div>
                        <div class="price-discount">
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                        </div>
                        <p class="description">Cafetera Moulinex</p>
                    </div>
                </article>

                <article>
                    <div class="img-procucto">
                        <img src='/images/img-macbook-pro-2019.jpg'/>
                    </div>
                    <div class="product-detail">
                        <div class="img-truck"><i class="fa-solid fa-truck"></i></div>
                        <div class="price-discount">
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                        <p class="description">MacBook Pro 2019</p>
                    </div>
                </article>

                <article>
                    <div class="img-procucto">
                        <img src='/images/img-samsung-galaxy-s10.jpg'/>
                    </div>
                    <div class="product-detail">
                        <div class="img-truck"><i class="fa-solid fa-truck"></i></div>
                        <div class="price-discount">
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                        <p class="description">Samsung Galaxy S10</p>
                    </div>
                </article>

                <article>
                    <div class="img-procucto">
                        <img src='/images/img-tv-samsung-smart.jpg'/>
                    </div>
                    <div class="product-detail">
                        <div class="img-truck"><i class="fa-solid fa-truck"></i></div>
                        <div class="price-discount">
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                        </div>
                        <p class="description">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </section>
            
            <div><h3 class="body-titles">Ofertas</h3></div>
            <section class="ofertas">
                <article>
                    <div class="img-procucto">
                        <img src='images/img-cafetera-moulinex.jpg'/>
                    </div>
                    <div class="product-detail">
                        <div class="img-truck"><i class="fa-solid fa-truck"></i></div>
                        <div class="price-discount">
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                        </div>
                        <p class="description">Cafetera Moulinex</p>
                    </div>
                </article>

                <article>
                    <div class="img-procucto">
                        <img src='images/img-macbook-pro-2019.jpg'/>
                    </div>
                    <div class="product-detail">
                        <div class="img-truck"><i class="fa-solid fa-truck"></i></div>
                        <div class="price-discount">
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                        <p class="description">MacBook Pro 2019</p>
                    </div>    
                </article>

                <article>
                    <div class="img-procucto">
                        <img src='images/img-samsung-galaxy-s10.jpg'/>
                    </div>
                    <div class="product-detail">
                        <div class="img-truck"><i class="fa-solid fa-truck"></i></div>
                        <div class="price-discount">
                            <p class="price"> $70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                        <p class="description">Samsung Galaxy S10</p>
                    </div>
                </article>

                <article>
                    <div class="img-procucto">
                        <img src='images/img-tv-samsung-smart.jpg'/>
                    </div>
                    <div class="product-detail">
                        <div class="img-truck"><i class="fa-solid fa-truck"></i></div>
                        <div class="price-discount">
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                        </div>
                        <p class="description">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </section>
        </main>

        <footer>
            <section class="footer-payment-options"> 
                <!-- <article class="footer-options"> -->
                <article>
                    <div class="footer-icon">
                        <i class="fa-solid fa-credit-card"></i>
                    </div>
                    <h4 class="footer-titles">Pagá con tarjeta o en efectivo</h4>
                    <p class="footer-article-description">
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!
                    </p>
                </article>

                <article>
                    <div class="footer-icon">
                        <i class="fa-solid fa-gift"></i>
                    </div>
                    <h4 class="footer-titles">Envío gratis desde $ 2.500</h4>
                    <p class="footer-article-description">
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        product-details. Es un beneficio de Mercado Puntos.
                    </p>
                </article>

                <article>
                    <div class="footer-icon">
                        <i class="fa-solid fa-user-shield"></i>    
                    </div>
                    <h4 class="footer-titles">Seguridad, de principio a fin</h4>
                    <p class="footer-article-description">
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.
                    </p>
                </article>
            </section>

            <div class="footer-article-copyrigth">
                <p class="copyrigth">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </footer>
    </body>
</html>